<div class="row">
    <div class="col-md-3 mx-auto mb-4">
      <pizza [pizza]="selectedPizza"></pizza>
    </div>
    <p>J'ai au total {{ total }} pizza</p>
    <div class="row">           
        <div class="row">
            <div class="col-md-3 " *ngFor="let pizza of pizzas">
                <div class="card">
                    <img class="card-img-top" [src]="pizza.image" alt="{{ pizza.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ pizza.name }}</h5>
                        <p class="card-text">Prix : {{ pizza.price }} euros</p>
                        <div class="align-items-center">
                            <app-counter (diminue)="changeCart($event)" (augment)="changeCart($event)"></app-counter>
                            <a [class.selected]="pizza === selectedPizza"
                            (click)="onSelect(pizza)" class="btn btn-dark text-danger ">Voir la pizza</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>